/* Curtain
=========================*/

.curtain {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: var(--primary);
}

.curtain:nth-child(1) {

    width: 100%;
}

.curtain:nth-child(2) {

    width: 66.6%;
}

.curtain:nth-child(3) {

    width: 33.3%;
}
